<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/master.css" rel="stylesheet">
	<title>Project 2 Demo App</title>
</head>
<body>
	<div id="div-udf2">
		<h1>UDF2</h1>
		<p><span class="bold">Definition:</span>Accepts no parameters. Returns a table showing the average expense of each month. The table includes the columns: Month, Year, and Average Expense.</p>
		<button type="button" id="" onclick="Execute_UDF2()">Run UDF2</button>
	</div>

	<div id="div-udf2">
	</div>

	<script src="js/script.js"></script>
</body>
</html>
