header {
	text-align: center;
	margin-bottom: 2rem;
}

p {
	font-size: 1.5rem;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

h3 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
button {
	font-size: 1.5rem;
}

input {
	margin-bottom: 0.5rem;
}

input, label, select, option {
	font-size: 1rem;
}

.line-item {
	display: flex;
	justify-content: space-between;
	width: 350px;
}

.bold {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	width: 80vw;
}

#output-table {
	display: none;
}
#output-table.visible {
	display: block;
}

td {
	border: solid black 1px;
	font-size: 1.5rem;
}

#selectquery p,
#selectquery input {
	display: inline;
}

/* Section/card styling */
#div-udf2, #div-sp6 {
	display: block;
	margin: 0 auto;
	width: 80vw;
}
